busquedaproveedores-3jmyXUAWlGSJd61w.json
{"createdAt":"2025-08-14T00:26:27.953Z","updatedAt":"2025-09-08T13:41:35.000Z","id":"3jmyXUAWlGSJd61w","name":"busquedaProveedores","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1040,432],"id":"39a6a4cc-a891-452a-8811-751084b8d3da","name":"WhatsApp Trigger","webhookId":"0be6867f-8ee4-4639-8fe1-6c9aef76a135"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-688,672],"id":"77876269-8b9e-4f83-995b-8d1e9a13e614","name":"OpenAI Chat Model"},{"parameters":{"inputText":"={{ $json.messages[0].text.body }}","categories":{"categories":[{"category":"=Busqueda ","description":"=si  {{ $json.messages[0].text.body }} contiene las palabras buscar, encontrar"},{"category":"Consultar","description":"=si  {{ $json.messages[0].text.body }}contiene las palabras consultar, ver, lista, mostrar"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-736,432],"id":"1bff4557-793d-4941-9aec-c24d1127a397","name":"Text Classifier"},{"parameters":{"documentId":{"__rl":true,"value":"1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4","mode":"list","cachedResultName":"ListaProveedores ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lista1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,448],"id":"1313dd56-64ea-449f-8afd-0d03a94869b6","name":"Get row(s) in sheet"},{"parameters":{"assignments":{"assignments":[{"id":"a3933bfa-1cad-45b6-ae60-72438fbdd9c7","name":"Datos","value":"=Nombre del Proveedor: {{ $json.Nombre }} \nDireccion del Proveedor: {{ $json.Direccion }}\nTelefono del proveedor: {{ $json.Telefono }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,688],"id":"73e38fbe-aa4e-459c-b5a3-da46e645915d","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","textBody":"=Lista de provedores:\n{{ $json.mensaje }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[384,688],"id":"7418521c-99f4-4f9a-9839-9da6379ccdef","name":"Send message1","webhookId":"718458d8-614b-42ec-a57e-5b970ff07899"},{"parameters":{"jsCode":"// Recorre todos los items que vienen del nodo Set y toma el campo Datos\nconst proveedores = items.map(item => item.json.Datos);\n\n// Une todos los strings con saltos de línea dobles\nconst mensajeUnico = proveedores.join('\\n\\n');\n\n// Devuelve un solo item con el mensaje agrupado\nreturn [{\n  json: {\n    mensaje: mensajeUnico\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,688],"id":"cdd4f649-e622-43d1-a0ff-db456c65468f","name":"Code"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","textBody":"=Lista de proveedores: \n{{ $json.mensaje }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1648,352],"id":"4bf8629a-4ae8-4893-8c8f-b6a77006d573","name":"Send message","webhookId":"f417a3a5-1eb0-4548-bc14-ff4781fd3008"},{"parameters":{"url":"https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items?","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"includeWebResults\": false,\n    \"language\": \"es\",\n    \"locationQuery\": \" {{ $('Edit Fields1').item.json.Direccion }} , Costa Rica\",\n    \"maxCrawledPlacesPerSearch\": {{ $('Edit Fields1').item.json.Cantidad }},\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": true,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": true,\n    \"scrapeReviewsPersonalData\": false,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"Ferreteria\"\n    ],\n    \"skipClosedPlaces\": false\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,128],"id":"70297ede-3b99-45d2-8612-69e6a0d89a37","name":"BuscarProveedores","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"title, address, city, phone, ","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,112],"id":"812315ee-e0da-415a-a8d1-36c3b386c871","name":"Filtrar"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4","mode":"list","cachedResultName":"ListaProveedores ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lista1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jd7mPRVPjaZlaV1gxuNnON13nuj8-h9QusapIafxAQ4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json.title }}","Direccion":"={{ $json.address }}","ciudad":"={{ $json.city }}","Telefono":"='{{ $json.phone }}'","Categoria":"={{ $json.categories }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion","displayName":"Direccion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1328,112],"id":"4d8af377-4999-49f0-9e1f-10f02fa1ba1d","name":"InsertarDatos"},{"parameters":{"assignments":{"assignments":[{"id":"b4bd563b-9922-48f4-ab50-5ddeaabcded2","name":"data","value":"=Nombre ferreteria: {{ $json.title }} \nDireccion: {{ $json.address }} \nTelefono: {{ $json.phone }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,352],"id":"70d2f9e0-0666-439e-b9f3-10c45bb316bd","name":"Filtrado"},{"parameters":{"jsCode":"// Recorre todos los items que vienen del nodo Set y toma el campo Datos\n\nconst proveedores = items.map(item => item.json.data); \n\n//$input.first().json.data\n\n// Une todos los strings con saltos de línea dobles\nconst mensajeUnico = proveedores.join('\\n\\n');\n\n// Devuelve un solo item con el mensaje agrupado\nreturn [{\n  json: {\n    mensaje: mensajeUnico\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,352],"id":"05b16f33-9c4c-4d7f-a6b6-5d9fafac65bb","name":"listaProveedores"},{"parameters":{"text":"={{ $json.messages[0].text.body }}","attributes":{"attributes":[{"name":"=address","description":"=if the {{ $json.messages[0].text.body }} contains a name of a city or neighborhood from costa rica's country"},{"name":"quantity","type":"number","description":"=if the {{ $json.messages[0].text.body }}  contains a number that represents how many Ferreterias wants in the ouput"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-304,128],"id":"bf480af7-d61f-458b-8b0d-8cc38a3da4bc","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-336,352],"id":"41354cda-3ad1-4637-b78d-311877eca994","name":"OpenAI Chat Model1"},{"parameters":{"assignments":{"assignments":[{"id":"3b5f62b7-40bb-4bca-83c0-76576446e97b","name":"Direccion","value":"={{ $json.output.address }}","type":"string"},{"id":"b9e7ead2-883a-4db4-8b92-4e3c260092d7","name":"Cantidad","value":"={{ $json.output.quantity }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,128],"id":"09fa9182-1b68-408c-bb8e-2459f52b6478","name":"Edit Fields1"},{"parameters":{"content":"obtener la direccion y cantidad de busqueda\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"4a29683e-7255-4266-9b6a-f90553515993","name":"Sticky Note1"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","textBody":"=Estamos procesando la busqueda, esto puede tardar hasta 1 minuto.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[304,128],"id":"ec82fe33-be3c-413d-afcf-6f2f444915dd","name":"Send message2","webhookId":"caebe774-27e3-4932-9a32-eb60fb7c0818"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: buscarProveedores\nHa ocurrido un error en node HTTPS BuscarProveedores:   \nDetalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[704,432],"id":"60e285c9-c8cf-4f31-80ea-af9e92475a14","name":"Send a message","webhookId":"1d530e87-dc8b-4f2b-bb3d-6e7db154e796"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Information Extractor","type":"main","index":0}],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"BuscarProveedores":{"main":[[{"node":"Filtrar","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Filtrar":{"main":[[{"node":"Filtrado","type":"main","index":0},{"node":"InsertarDatos","type":"main","index":0}]]},"Filtrado":{"main":[[{"node":"listaProveedores","type":"main","index":0}]]},"listaProveedores":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send message2","type":"main","index":0}]]},"Send message2":{"main":[[{"node":"BuscarProveedores","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ce1cb89c-3758-4351-badd-1fb2f70c0778","triggerCount":0,"shared":[{"createdAt":"2025-08-14T00:26:27.959Z","updatedAt":"2025-08-14T00:26:27.959Z","role":"workflow:owner","workflowId":"3jmyXUAWlGSJd61w","projectId":"Z5in8UBg6O8Rkhdj"}],"tags":[]}