evolutionapi-ZjPyOosNlHyPRXmE.json
{"createdAt":"2025-08-04T22:36:39.161Z","updatedAt":"2025-09-08T13:42:12.000Z","id":"ZjPyOosNlHyPRXmE","name":"evolutionApi","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"462c3d79-b399-4605-a925-8ae3ccfcd764","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,-16],"id":"f102a7dd-8513-418b-8dca-3ed722211d32","name":"Webhook","webhookId":"462c3d79-b399-4605-a925-8ae3ccfcd764"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5579e3-980d-4ce2-a24a-06a81e7d4545","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-16],"id":"c6afd5b9-9957-444d-b17e-4216a3df9045","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,224],"id":"70e3ff0e-729a-4b37-af63-2a1a5241449d","name":"No Operation, do nothing"},{"parameters":{"content":"## valido que el mesaje sea mio selfmessage","height":480,"width":352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-96],"id":"7d374fb0-7734-4db5-9544-2488859707cd","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"77444d30-dbee-46f8-bcaf-a36cf35ae0f2","name":"chta_id","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"73bad46c-d966-4781-b806-cc1b9478801d","name":"instance_name","value":"={{ $json.body.instance }}","type":"string"},{"id":"89b1a5c3-bb37-4373-b610-d1e776333e5e","name":"api_key","value":"={{ $json.body.apikey }}","type":"string"},{"id":"59eb3968-9fe4-4691-a1a4-8322aaa2302f","name":"message_type","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"cc838f9c-7b84-4de4-8342-63f4cbc0a6b4","name":"text_message","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-32],"id":"477aa6ba-6a32-43b6-a6ad-e90bfd4bbc9d","name":"Edit Fields"},{"parameters":{"content":"## parametros basicos para enviar un mensaje","height":256,"width":352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,-112],"id":"2d1a33ec-9e5d-4be7-b6e6-617a614208ea","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=user sends the following message:\nuser_name={{ $json.chta_id }}\nmessage={{ $('Webhook').item.json.body.data.message.conversation }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1152,-32],"id":"f2d28b9a-fe8b-4f14-af5a-76ec1d60c658","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,176],"id":"d400d9ef-0315-417a-8707-7afc2c8d3315","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chta_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1168,176],"id":"4e8eabc2-3be5-4dd8-873a-05e9c5ddee8a","name":"Simple Memory"},{"parameters":{"method":"POST","url":"=http://148.230.93.108:8080/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields').item.json.chta_id.split('@')[0] }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 5000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,-32],"id":"946e2e06-feaa-4435-af58-22b3f5f1437e","name":"HTTP Request"},{"parameters":{"content":"## similar a what trigger","height":192},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-80],"id":"6ffa11e5-d67c-4945-95c8-7bf6565aee90","name":"Sticky Note2"},{"parameters":{"content":"## similar a send message the whats","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,-144],"id":"d7aa63d7-bca4-40e2-bf6d-23d80a345e88","name":"Sticky Note3"},{"parameters":{"content":"## ver config  https://www.youtube.com/watch?v=p3gz4pFxL4U&t=2658s","height":256,"width":496,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,544],"id":"eef19536-6d1e-4094-9d32-ca9b1a8c7191","name":"Sticky Note4"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv941896.hstgr.cloud","user-agent":"axios/1.7.7","content-length":"704","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv941896.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"ed137f9d3886","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"emma_n8n_test1","data":{"key":{"remoteJid":"50686147321@s.whatsapp.net","fromMe":true,"id":"3FC6067BE249B92331C5"},"pushName":"MCR","message":{"conversation":"hi"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1754405851,"instanceId":"b67419c7-94c0-4fee-a393-94285ce517ab","source":"unknown"},"destination":"https://n8n.srv941896.hstgr.cloud/webhook/462c3d79-b399-4605-a925-8ae3ccfcd764","date_time":"2025-08-05T11:57:31.975Z","sender":"50686147321@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"5E0CA6317238-477F-9217-A5DD2CD66FD3"},"webhookUrl":"https://n8n.srv941896.hstgr.cloud/webhook/462c3d79-b399-4605-a925-8ae3ccfcd764","executionMode":"production"}}]},"versionId":"d800d8ba-67da-4311-98e2-3537d2604f24","triggerCount":1,"shared":[{"createdAt":"2025-08-04T22:36:39.163Z","updatedAt":"2025-08-04T22:36:39.163Z","role":"workflow:owner","workflowId":"ZjPyOosNlHyPRXmE","projectId":"Z5in8UBg6O8Rkhdj"}],"tags":[]}