exa_webscrapping-OWSarQ5xtB61d4Kb.json
{"createdAt":"2025-08-04T17:34:28.471Z","updatedAt":"2025-08-05T01:44:39.000Z","id":"OWSarQ5xtB61d4Kb","name":"exa_webScrapping","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## extraccion de datos con firecrawl","height":224,"width":512,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-80],"id":"e532f6dc-9371-4f43-a923-dbda50d47259","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,0],"id":"1d9024d8-339d-437c-b8a1-c4c0e452a56c","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer fc-000eed6872c64194ac57d8efab0852e5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"urls\": [\n    \"https://cursos.ivanalsigo.com/\"\n \n  ],\n  \"prompt\": \"Extrae el nombre y las descripciones de los cursos de la pagina https://cursos.ivanalsigo.com/\",\n  \"schema\": {\n  \"type\": \"object\",\n  \"properties\": {\n    \"courses\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"name\",\n          \"description\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"courses\"\n  ]\n}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,0],"id":"7bf58bd0-9bf2-4a6a-864f-40c2a3b8d3c0","name":"peticionFirecrawl"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $('peticionFirecrawl').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer fc-000eed6872c64194ac57d8efab0852e5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,0],"id":"72c035b2-ba5a-4e1b-a579-8823788ffb97","name":"HTTP Request"},{"parameters":{"content":"## checkear si firecrawl devolvio datos ya q se tarda un poco","height":384,"width":864},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,-144],"id":"6f12dd94-f95a-4ff5-958a-2d940df2f15b","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77a69623-03d2-4a9f-aaa9-e9929f6ae1f9","leftValue":"={{ $json.status }}","rightValue":"processing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,0],"id":"15138a4a-5f3c-43b4-9d56-9facf148c458","name":"If"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,-16],"id":"071839b9-fccd-48b5-a760-7b9814c6ab3c","name":"Wait","webhookId":"4ab495f8-3ac8-47b6-8d92-8e2628221072"},{"parameters":{"fieldToSplitOut":"data.courses","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[656,368],"id":"bc828559-cb60-4f28-9674-1b6778cd0175","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OzuJ8MEOPKp3WJn0R5bJKk-k6RJUWxwkAgBTh3EPWxE","mode":"list","cachedResultName":"scrapping_cursos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OzuJ8MEOPKp3WJn0R5bJKk-k6RJUWxwkAgBTh3EPWxE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OzuJ8MEOPKp3WJn0R5bJKk-k6RJUWxwkAgBTh3EPWxE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"titulo curso":"={{ $json.name }}","descripcion":"={{ $json.description }}"},"matchingColumns":[],"schema":[{"id":"titulo curso","displayName":"titulo curso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,368],"id":"d67dfde1-0047-4776-8bff-d040fc57294c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Xym5ExL72IECoJuo","name":"Google Sheets emma account"}}},{"parameters":{"content":"## Insertar en bd la data","height":256,"width":704,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,304],"id":"b43f8f6e-36c7-4ad5-a04e-705432ebe9b7","name":"Sticky Note2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"peticionFirecrawl","type":"main","index":0}]]},"peticionFirecrawl":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99f5977e-603c-4be3-b0f4-3935d59bbebf","triggerCount":0,"shared":[{"createdAt":"2025-08-04T17:34:28.473Z","updatedAt":"2025-08-04T17:34:28.473Z","role":"workflow:owner","workflowId":"OWSarQ5xtB61d4Kb","projectId":"Z5in8UBg6O8Rkhdj"}],"tags":[]}