ferretariacompras-HUVKh3tZ9hZX9lsq.json
{"createdAt":"2025-08-04T14:57:58.073Z","updatedAt":"2025-09-08T13:22:21.000Z","id":"HUVKh3tZ9hZX9lsq","name":"ferretariaCompras","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[64,2384],"id":"7740e310-62dd-4e6a-9e7a-2550e0d24688","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appniZcnpvrStiD98","mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98"},"table":{"__rl":true,"value":"tbln6MN9H6QN2vXca","mode":"list","cachedResultName":"Datos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98/tbln6MN9H6QN2vXca"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[848,2400],"id":"0ac68911-d758-42a8-a140-11e3457d5746","name":"ListaProductos","credentials":{"airtableTokenApi":{"id":"NLGqDqQ0bE1D9FcD","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appniZcnpvrStiD98","mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98"},"table":{"__rl":true,"value":"tbln6MN9H6QN2vXca","mode":"list","cachedResultName":"Datos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98/tbln6MN9H6QN2vXca"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $fromAI('producto_id', 'ID del producto obtenido de ListaProductos', 'string') }}","Stock actual":"={{ $fromAI('nuevo_stock', 'Stock actual menos cantidad comprada', 'number') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Stock actual","displayName":"Stock actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Stock mínimo","displayName":"Stock mínimo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[688,2384],"id":"7d225763-21c6-4033-a370-c748b3d2e922","name":"Compra","credentials":{"airtableTokenApi":{"id":"NLGqDqQ0bE1D9FcD","name":"Airtable Personal Access Token account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $json.contacts[0].wa_id }}","tableName":"n8n_chat_Proveduria_Ferreteria","contextWindowLength":"="},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[400,2032],"id":"2e90bf01-48d4-4c05-bb59-f26128883bb2","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"ZGAeHeCf6bHlD8Av","name":"Postgres_emma_supabase_account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"proveduriapoliticas","mode":"list","cachedResultName":"proveduriapoliticas"},"options":{"pineconeNamespace":"politicas"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[272,2608],"id":"8a56be35-c296-4cb1-ac82-213a41db94ea","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"v2t59p2pE69LLIZ2","name":"PineconeApi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[544,2528],"id":"97050f8e-bd65-44cf-803e-d9e414038ef1","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[400,2832],"id":"a52b4103-1d76-455a-bacf-a8ef576cece2","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"promptType":"define","text":"={{ $json.contenido }} {{ $json.contenidoTelegram }} {{ $json.audiotexto }}","options":{"systemMessage":"=#Rol\nEres un agente de ventas especializado en ferretería.\n\n#Tareas\nPara preguntas sobre políticas: Usar herramienta 'Politicas'\n#Triggers para Politicas\nSI el usuario menciona:\n- \"devolución\", \"garantía\", \"reembolso\", \"política\", \"condiciones\", \"cambio\"\n→ Usar herramienta 'Politicas'\n#Ejemplo de consulta\nUsuario: \"¿Cómo son las garantías?\"\nAgente: [Consulta BD vectorial] → \"Las garantías cubren defectos de fábrica por 1 año. ¿Necesitas más detalles?\"\n\nPara consultas de productos (ej: \"qué hay disponible\", \"listado de productos\"): \n   - Ejecutar 'ListaProductos'\n#Triggers para ListaProductos\nSI el usuario pregunta:\n- \"qué productos hay\"\n- \"qué tienen disponible\"\n- \"muéstrame el inventario\"\n- \"listado de productos\"\n→ Usar 'ListaProductos'\n\nPara consultas de graficos o grafica de ventas (ej: \"Muestrame un grafico de ventas\", \"Quiero ver el grafico de ventas\", \"Muestrame la grafica\"):\n-Continua la ejecucion.\n-Responde  solamente con lo siguiente: Necesitas algo mas?\n\n#Reglas de Compra\nProceso de compra paso a paso:\n1. Usuario solicita compra: \"comprar\", \"necesito\", \"quiero\" + cantidad + producto\n2. PRIMERO: Ejecutar 'ListaProductos' para obtener datos del producto incluyendo la cantidad del stock actual.\n3. Verificar: SI stock_actual >= cantidad_solicitada\n4. SI es suficiente: Ejecutar 'Compra' con los datos obtenidos\n5. SI NO es suficiente: Informar que no tenemos esa cantidad disponible por el momento.\n\n#Formato de respuesta compra exitosa\n\"¡Compra realizada! Has adquirido [cantidad] [producto].\"\nSi el usuario  responde que no desea nada mas, escribe una despedida formal.\n\n#Notas importantes\n- SIEMPRE consultar ListaProductos ANTES de ejecutar Compra\n- NUNCA inventar stock, revisa la herramienta ListaProductos para consultar Stock tanto actual como minimo.\n- Después de compra: \"¿Desea algo más?\"\n- Respuestas concisas (<200 caracteres)\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[432,1712],"id":"52577967-6d6f-4b97-9203-bd877d4046b3","name":"Agente"},{"parameters":{"description":"Esta herramienta dara informacion sobre las politcas de garantias y devoluciones de producto de ferreteria."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[368,2304],"id":"392f38c7-6b9b-4e45-9778-67174e4ad90a","name":"Politicas"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-2752,1328],"id":"0c5fac6a-db9e-47a9-8be3-713536cb5f53","name":"WhatsApp Trigger","webhookId":"7936a219-1cea-439b-a87c-d79a92d3a8e3","credentials":{"whatsAppTriggerApi":{"id":"3bambZUNfgGKW8V3","name":"whatsapp_emma_Trigger"}}},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }} ","textBody":"={{ $json.mensaje }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3264,1472],"id":"0b9bcfb0-f528-49b1-9bc9-5b672e43ce17","name":"Send message","webhookId":"5aca03c4-3847-47a3-a7e4-0014f10c2023","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"assignments":{"assignments":[{"id":"e0884645-35c0-46e8-b975-dd1a6604a44a","name":"channel","value":"whatsapp","type":"string"},{"id":"912c9984-cbdc-4c81-a385-068ab6a5ecfe","name":"contenido","value":"={{ $json.contenido }}","type":"string"},{"id":"4ab5c3f1-bc4d-4830-bca2-bb4b641a3842","name":"Audio","value":"= {{ $json.audiotexto }}","type":"string"},{"id":"025a0ea9-7b1b-4fad-884a-682dde0e02a8","name":"numero","value":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1312],"id":"3c7b63a9-d0ae-4cc1-a0e5-01b6c583f21b","name":"validarCanal"},{"parameters":{"assignments":{"assignments":[{"id":"337d602b-6d06-4a39-9ba6-b52969d38bdb","name":"Channel","value":"telegram","type":"string"},{"id":"c781ca6a-ba32-4b95-b0c9-6aa5486d62b4","name":"=contenidoTelegram","value":"={{ $json.message.text }} {{ $json.text }}\n\n","type":"string"},{"id":"ad7e99d1-3884-42f0-a085-39332f8a87e7","name":"chatID","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"767110b9-c5bd-477f-be11-e105402ff8f0","name":"audioID","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,2128],"id":"9af6b172-dfd8-4092-8e8c-8ba110ec7460","name":"validarCanalT"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1328,1360],"id":"800d0c99-0a7f-4091-94d6-4daacb0f7097","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"6d548d19-d5b3-4716-bfc8-ad40716cf112","name":"mensaje","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2784,1472],"id":"fce49ba3-033f-4732-8d0c-192ddcb11160","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1280,2112],"id":"8629f0ee-ce66-425d-ad31-97c6e010cc6f","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"bd578b2b-aff1-4ab4-b7fe-319978d3d119","name":"mensaje","value":"={{ $json.output }}","type":"string"},{"id":"1c10d761-b715-4731-a02e-fb26c921d354","name":"id","value":"={{ $json.chatID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,2272],"id":"7b762d8a-0f7c-4384-895d-c3df7f43f5a8","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2288,1568],"id":"30798b1b-5320-4b25-b45c-825934a6f901","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,2352],"id":"eb874819-b756-434a-bff7-dc6843167187","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa747a4f-71d7-47aa-9642-ab34534aae36","leftValue":"={{ $json.message.from.id }}","rightValue":8060359129,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,2224],"id":"0e0ef0c0-ce20-4db4-8105-7447bccf6525","name":"If1"},{"parameters":{"content":"## verificar q es mi bot","height":480,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1536,2160],"id":"e929d55c-1a50-4965-82d6-7640936fdacf","name":"Sticky Note"},{"parameters":{"chatId":"={{ $json.id }}","text":"={{ $json.mensaje }}  ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2912,2272],"id":"372efa49-b8a9-417c-ba73-0a6331fde9c1","name":"Send a text message","webhookId":"2417ba8e-369d-4fde-81b1-0849f217ab1e","credentials":{"telegramApi":{"id":"2MfDiDbPgHabhlix","name":"Telegram_emma_account"}}},{"parameters":{"content":"## agregar validaciion de entrada de texto audio e imagen","height":300,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2496,1232],"id":"87ec3dca-e50f-46ba-9331-a1ce5f35a010","name":"Sticky Note1"},{"parameters":{"content":"## validar audio o texto de entrada"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1264,1264],"id":"ed1a81f3-eff9-43e7-99f9-b204b0d5db4c","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"1ce2db9a-46cf-409d-a326-5ab25b508abd"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dcce95-8540-4059-a71b-35549456e308","leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7473cb0c-11ce-45b7-b76f-308f34e0485f","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2448,1312],"id":"5abe76a5-9c36-466d-b973-e140442fb2d3","name":"Switch"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1568,1024],"id":"b8785bbb-5ff0-4ddc-8d08-8f4c3fc995de","name":"Download media","webhookId":"1d84fe18-e051-451d-95ca-88c4591c437d","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,1024],"id":"fb25022a-2574-4b6b-888e-7a5a591f545b","name":"obtenerurl","credentials":{"httpHeaderAuth":{"id":"wuQnRV7xw6UeeACn","name":"Header Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-544,1008],"id":"68e53224-e47b-4c04-a386-52d3e8ecd040","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"assignments":{"assignments":[{"id":"80ac89dc-7411-468a-bfb3-721e4c45efbe","name":"audiotexto","value":"={{ $json.text }}","type":"string"},{"id":"954d0ca5-8289-4d4b-b0bf-781a90245c60","name":"channel","value":"whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,1024],"id":"dfd90d91-0d0e-447e-b067-504292800a5e","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94ed5aa6-773d-42e5-a457-a044bfca2111","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2448,1344],"id":"236e71b5-e887-4c5f-9c44-456939cff5af","name":"If2"},{"parameters":{"resource":"audio","input":"={{ $json.mensaje }}","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3168,1232],"id":"51ebb767-02e7-4cf5-b5ea-989c6f65da5b","name":"Generate audio","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6d548d19-d5b3-4716-bfc8-ad40716cf112","name":"mensaje","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2784,1232],"id":"30f8235d-e3e9-4c1b-8e52-1ee9194393b7","name":"Edit Fields3"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3488,1232],"id":"43a6eb6d-afa8-46de-b087-9cc141efe48a","name":"Send message1","webhookId":"ab69facd-6e1d-4cdd-ae9e-d77e8db4a03d","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"assignments":{"assignments":[{"id":"b6cce5e9-b7be-4ffd-86ae-e11384102553","name":"textoimagen","value":"={{ $json.messages[0].image.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2368,1552],"id":"1b3fc0b3-a8fa-4588-9661-f0c184d8e1c5","name":"Edit Fields4"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2176,1552],"id":"b2296cad-8044-4443-bc33-b8c86e9b44cd","name":"Download media1","webhookId":"73058d4b-d2dc-49a3-8610-948af24bbada","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Analiza la imagen y devuelve una respuesta breve, solo el nombre de lo que se ve en la imagen, por ejemplo: 'Destornillador plano'.\n\nReglas:\n1. Nunca hagas suposiciones sobre el contenido.\n2. Analizá si el contenido realmente describe una herramienta o no.\n3. Si el contenido recibido no corresponde a una herramienta como tal, no es una herramienta.\n4. Si el contenido parece ser un animal, objeto no relacionado o persona, respondé de la siguiente manera: \"No es herramienta\".","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1696,1520],"id":"1854fce0-643c-4f2b-a462-52cf876ee1ce","name":"Analyze image","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Eres un asistente especializado en búsqueda de herramientas en inventario.\n\nCuando el usuario mencione una herramienta en {{ $json.content }}, debés utilizar la herramienta BusquedaHerramientas para verificar si existe una coincidencia en el inventario.\n\n### Instrucciones:\n\n1. Si la herramienta fue encontrada:\n   - Respondé afirmativamente con un mensaje como \" Nombre herramienta: 'nombre'.\nSi tenemos {{ $json.content }} disponible, si deseas comprar este producto indica el nombre y la cantidad\".\n   - Verifica el estado y las unidades disponibles pero no las incluyas en el mensaje de respuesta.\n\n2. Si el campo stock_actual en la herramienta BusquedaHerramientas es igual a 0:\n   - Respondé afirmativamente, pero aclarando que no hay unidades disponibles en este momento.\n\n3. Si el estado es insuficiente:\n   - Respondé afirmativamente sin mencionar ese estado.\n\n4. Si la herramienta no se encuentra:\n  -Usa la herramienta BusquedaHerramientas para validar que el nombre de la herramienta {{ $json.content }} este disponible.\n   - Sino esta disponible, Respondé negativamente, responde solamente y nada mas lo siguiente: por ejemplo:  \"No tenemos 'Nombre de la herramienta' en tienda por el momento\".\n\n5. Imgen no es una herramienta:\n  Nunca hagas suposiciones sobre el contenido.\n  Si {{ $json.content }} contiene \"No es una herramienta\", entonces responde solamente y nada mas lo siguiente: \"La imagen no es una herramienta\".\n\n\n\n---\n\n❗ **Nunca** respondas sin haber ejecutado **BusquedaHerramientas**.  \n❗ **No** hagas suposiciones sobre el contenido.  \nTu respuesta debe ser **clara**, **amable** y **máximo 200 caracteres**.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1536,1520],"id":"bb503019-9a78-416c-b1ab-80e43d6aae72","name":"Message a model","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-528,1488],"id":"5198dfb9-0000-44a4-98fc-1dd79c1aa9d2","name":"Send message2","webhookId":"4115dd65-ce4e-46eb-8d6d-7514cb2ff115","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"text":"={{ $json.message.content }}","attributes":{"attributes":[{"name":"NombreHerramienta","description":"nombre de la herramienta que no hay en stock, que no hay disponible en tienda."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-624,1824],"id":"54b296c0-1530-4e10-ac79-b7fcba08ef33","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,2000],"id":"856c6ee1-a747-4880-9241-dcd345215c71","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1jwN8YYNx5yJKZdGHlWV11cR_XXEkaB2UszefPkwH7Zo","mode":"list","cachedResultName":"HerramientasNoDisponibles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jwN8YYNx5yJKZdGHlWV11cR_XXEkaB2UszefPkwH7Zo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lista1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jwN8YYNx5yJKZdGHlWV11cR_XXEkaB2UszefPkwH7Zo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $now }}","NombreProdcuto":"={{ $('Information Extractor').item.json.output }}"},"matchingColumns":[],"schema":[{"id":"NombreProdcuto","displayName":"NombreProdcuto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-144,1824],"id":"de4c08ce-e284-4aa1-8d42-33252f4d42b1","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Xym5ExL72IECoJuo","name":"Google Sheets emma account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=La siguiente herramienta fue solicitada pero NO esta en el inventario: {{ $json.output.NombreHerramienta }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-160,1600],"id":"c8c4513d-938b-4472-a991-275980cdacd3","name":"Send a message","webhookId":"6aecf0b5-a725-4e2b-bfc0-204d82d44007","credentials":{"slackOAuth2Api":{"id":"iugf6btQUpcXdy8f","name":"Slack_emma_account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appniZcnpvrStiD98","mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98"},"table":{"__rl":true,"value":"tbln6MN9H6QN2vXca","mode":"list","cachedResultName":"Datos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98/tbln6MN9H6QN2vXca"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-1504,1728],"id":"297d7408-39cb-4a71-833e-b4c829e0decf","name":"BusquedaHerramientas","credentials":{"airtableTokenApi":{"id":"NLGqDqQ0bE1D9FcD","name":"Airtable Personal Access Token account"}}},{"parameters":{"text":"={{ $json.output }}","attributes":{"attributes":[{"name":"Nombre","description":"Nombre de la herramienta o de las herraminentas si son mas de una"},{"name":"Cantidad","description":"numero/cantidad de herramientas que se compran"},{"name":"Fecha","type":"date","description":"={{ $now }}"},{"name":"compra","type":"boolean","description":"=si en {{ $json.output }} se menciona la palabra/s: \"comprar\", \"necesito\", \"quiero\" + cantidad"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2768,400],"id":"8bdc3bef-b413-4679-bbc0-5f8d8e06838d","name":"Information Extractor1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2832,608],"id":"4c87cabb-d00d-48d0-b2eb-9b530ea25060","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74d53398-5cb3-48d9-a776-8ffbade2ae15","leftValue":"={{ $json.output.compra }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3072,400],"id":"e4c0893d-77ce-4d05-b42b-621d041beaa4","name":"If4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk","mode":"list","cachedResultName":"ProductosVendidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NombreProducto":"={{ $json.output.Nombre }}","Cantidad":"={{ $json.output.Cantidad }}","Fecha":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"NombreProducto","displayName":"NombreProducto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3472,320],"id":"53477ca5-1a15-40a6-b147-6d55dc97080f","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Xym5ExL72IECoJuo","name":"Google Sheets emma account"}}},{"parameters":{"content":"## Ingresar datos compra para alimentar grafica\n","height":240,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,240],"id":"d0ec3d89-cdf5-4009-9a53-d1c71a792e29","name":"Sticky Note3"},{"parameters":{"inputText":"={{ $json.contenido }} {{ $json.output }}","categories":{"categories":[{"category":"compra","description":"se menciona que se compro o  compraron herramientas"},{"category":"grafica","description":"se menciona mostrar grafico/grafica ventas, periodo"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[2320,688],"id":"fac5be9d-b55d-4cee-864b-a9fdb567ba20","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2448,960],"id":"07e82f8b-961d-4f9e-af12-ded4d4ca069d","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk","mode":"list","cachedResultName":"ProductosVendidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1By5gxubkqc6AIsXj96wd8YMM8vJVywaK73PLmJN9Svk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3008,800],"id":"5b23888d-c913-4df9-b9d3-45d440b91882","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Xym5ExL72IECoJuo","name":"Google Sheets emma account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## envio de grafica al usuario","height":220,"width":500,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2912,768],"id":"4cdf9cbb-05a7-4cc7-8db1-5b5b297a39b3","name":"Sticky Note5"},{"parameters":{"content":"## validar si paso texto o imagen grafica de arriba\nif"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2112,1504],"id":"5ea68315-85e3-41eb-8841-6bac2029583e","name":"Sticky Note6"},{"parameters":{"content":"## agregr nodo whas para envio imange"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2288,1712],"id":"148d931b-df3a-4917-96b0-1f6ac1f75468","name":"Sticky Note7"},{"parameters":{"content":"## Si herramienta solicitada no\n## hay en stock actual","width":480,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,1904],"id":"f2fe4a9e-db3f-4e7f-b101-474c6246f6f4","name":"Sticky Note8"},{"parameters":{"content":"## transcribir audio y pasar a texto","height":280,"width":820,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,928],"id":"760ad274-ce0a-4594-8972-a2f30b758644","name":"Sticky Note9"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1372a38-2de7-4008-98c8-36d261bad57b","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"1658c49c-ff04-4e39-91ff-5ab074022c32"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2464,2240],"id":"3b8b300c-a159-4273-8549-2e9830db4ef0","name":"Switch2"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2096,2512],"id":"b80f3797-8491-4861-8bb7-afb95463e3ef","name":"Get a file","webhookId":"5ce58787-9aad-4b27-b796-e8610fe8031f","credentials":{"telegramApi":{"id":"2MfDiDbPgHabhlix","name":"Telegram_emma_account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1904,2512],"id":"d6096a5f-1714-4dcb-ab81-cd8b3ad35334","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"content":"## procesar audio\n","height":240,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2176,2432],"id":"44ef6dcf-a9c5-4553-b8a8-8b52055ff63e","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"819b1910-dc94-4f73-80ec-3850346579a6","leftValue":"={{ $('Telegram Trigger').item.json.message.from.id }}","rightValue":8060359129,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,2512],"id":"45b6aff0-a51a-4b74-89a2-3472d0b6d62b","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1088,2528],"id":"5e9850d0-0712-42f3-940c-cbf3f66fcfdc","name":"No Operation, do nothing4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1248,2304],"id":"c5ead602-fcd5-4ec9-853b-61ae846a8cc5","name":"No Operation, do nothing5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3516eb87-d94f-4124-8b7a-433bffb6db2e","leftValue":"={{ $json.channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,1360],"id":"8c95c22e-0074-4f4a-88da-a1df9dddea58","name":"validarcanalWh"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3440,480],"id":"37b9fd47-cebf-4e4c-95a2-e406a1303425","name":"No Operation, do nothing2"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2720,2240],"id":"7c104046-a05f-47e5-b29e-93234ca738dc","name":"Telegram Trigger","webhookId":"007a412a-2a43-4368-ab37-744138aeabda","credentials":{"telegramApi":{"id":"2MfDiDbPgHabhlix","name":"Telegram_emma_account"}}},{"parameters":{"content":"## envio nota de audio","height":220,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,1152],"id":"1b9bf17a-a371-447c-baa7-eeb0ae660cb6","name":"Sticky Note12"},{"parameters":{"content":"## valido canal"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,2048],"id":"8310548c-a162-43df-9865-6d602d0ab19d","name":"Sticky Note11"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21b3ff23-3a39-44f7-97f3-8ef93fd9199d","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2304,2080],"id":"0eadba60-c32a-4316-a3fc-3093710715a8","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"925bca7c-ff5c-404c-9cd1-db31936c8909","leftValue":"={{ $json.Channel }}","rightValue":"telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,2112],"id":"fefb2fb2-ac06-46b3-839e-ca5a94c4af99","name":"if_valido_canal"},{"parameters":{"content":"## mensaje de texto","height":200,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,2240],"id":"944e4937-a893-4826-a1da-a1d45d6e0fd4","name":"Sticky Note13"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2672,2080],"id":"0d163496-9648-4caa-a59f-51e615443b25","name":"Generate audio1","credentials":{"openAiApi":{"id":"st6FRpHVmKZZDg38","name":"emma_OpenAi_account"}}},{"parameters":{"content":"## lectura de herramientas dede agente","height":480,"width":780,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,2384],"id":"f0cf4acd-77f2-4632-b450-22cb0d9e9c0f","name":"Sticky Note16"},{"parameters":{"content":"## guardar chats contexto","height":180,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[288,1968],"id":"3b34c272-a870-4043-9c6a-dd5bdad1be24","name":"Sticky Note17"},{"parameters":{"content":"## preocesar mensajes por lotes","height":200,"width":740,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,1232],"id":"04dee09f-87a6-4b33-8248-98b769560913","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"cbdc7d2c-0651-4deb-bf9a-ad333dca5aea","name":"Sender","value":"={{ $json.messages[0].from }}","type":"string"},{"id":"165c35e3-66dc-4536-b7d7-4e234c6c96d6","name":"mensaje","value":"={{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1968,1312],"id":"d935da36-3f2e-48bc-8c43-b157c9f3d549","name":"Edit Fields5"},{"parameters":{"operation":"push","list":"={{ $json.Sender }}","messageData":"={{ $json.mensaje }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1744,1312],"id":"b5d26341-32c9-4ca1-a927-d073074dcc31","name":"Redis","credentials":{"redis":{"id":"vcu4XmfTYGIe9u98","name":"Redis_emma_account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1504,1312],"id":"5bd128f8-38e3-4271-b7db-2a718c0a0a9d","name":"Wait","webhookId":"c6e2cb62-2df9-4f89-9a3e-7ac796047d7c"},{"parameters":{"operation":"get","propertyName":"contenido","key":"={{ $json.Sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1280,1312],"id":"da097103-4070-4abe-8457-4ccf0ee4c368","name":"Redis1","credentials":{"redis":{"id":"vcu4XmfTYGIe9u98","name":"Redis_emma_account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d65775a-1874-4cab-bee1-1b3fe7b08f7e","leftValue":"={{ $json.contenido.first() }}","rightValue":"={{ $('Wait').item.json.mensaje }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1312],"id":"2316366b-c86e-4c6c-8611-f1583cd846c4","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"d77b13b6-badd-4820-8a3f-ba481aacd437","name":"contenido","value":"={{ $json.contenido.reverse().join(' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,1280],"id":"a29f2cb3-36f8-49f2-93a7-85b901f9c769","name":"Edit Fields6"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields5').item.json.Sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-480,1280],"id":"acf2ec71-1d88-4939-8862-2be590bce07b","name":"Redis2","credentials":{"redis":{"id":"vcu4XmfTYGIe9u98","name":"Redis_emma_account"}}},{"parameters":{"content":"## procesar imagen","width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1696,1440],"id":"8dda2b4c-4618-486b-8baf-dc825992224a","name":"Sticky Note19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60f78dab-8a5b-4bdd-a7a9-3bd90f70f91c","leftValue":"={{ !!$json.message.content.match(/si tenemos|si hay|si hay disponible/i) }}\n\n","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HerramientaDisponible"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2b039ad-d039-40df-aced-0ea3e7ff6e10","leftValue":"={{ !!$json.message.content.match(/no tenemos|no hay|no disponible/i)  }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HerramientaNoDisponible"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-960,1584],"id":"93b98bbe-bc1c-4831-adc5-ab6b37179cef","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2651702-c1e1-4643-81df-c98947fc2169","leftValue":"={{ $json.message.content }}","rightValue":"La imagen no es una herramienta","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,1808],"id":"e0ad3e1e-f0a1-4820-8882-676380c0698d","name":"If6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,1664],"id":"280deca4-df8b-42a9-af8e-889c9fe3304d","name":"No Operation, do nothing3"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: Proyectovector1 \nHa ocurrido un error en node HTTPS ObtenerUrlImagen  \nDetalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1808,1728],"id":"8d1bd6f7-1cdb-4129-b0ba-c9af562e91ca","name":"Send a message1","webhookId":"02bd56c7-7809-4ffd-965a-b521806c2ae2","credentials":{"slackOAuth2Api":{"id":"iugf6btQUpcXdy8f","name":"Slack_emma_account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,1552],"id":"7162f73c-5791-43a4-b90d-19f9668ced4f","name":"ObtenerUrlImagen","credentials":{"httpHeaderAuth":{"id":"wuQnRV7xw6UeeACn","name":"Header Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: Proyectovector1  Ha ocurrido un error en node HTTPS ObtenerUrl   Detalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1040,1120],"id":"b756022e-8266-4a8d-930e-bfcf77cec70f","name":"Send a message2","webhookId":"a7a67bd6-65a2-45a9-a5fe-8136e40a7684","credentials":{"slackOAuth2Api":{"id":"iugf6btQUpcXdy8f","name":"Slack_emma_account"}}},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $json.numero }}","textBody":"Aun no existen datos para procesar el grafico. Intente mas tarde.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3888,1008],"id":"70a7fd54-880f-4f19-9f0f-f5725c6148c1","name":"Send message4","webhookId":"4799090a-e7a1-46f9-a682-210c6a2d721d","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"jsCode":"const items = $input.all(); // datos de productos\nconst dataMap = {};\n// capturamos el numero desde el primer item de entrada\nconst numero = $(\"validarCanal\").first().json.numero;\n\nfor (const item of items) {\n  const producto = item.json['NombreProducto'];\n  const cantidad = parseInt(item.json['Cantidad']);\n\n  if (!producto || isNaN(cantidad)) continue;\n\n  // Unificar claves ignorando espacios extras\n  const nombreLimpio = producto.trim();\n\n  if (!dataMap[nombreLimpio]) {\n    dataMap[nombreLimpio] = 0;\n  }\n  dataMap[nombreLimpio] += cantidad;\n}\n\n// Ordenar por cantidad y tomar los top N (máx. 5)\nconst topProductos = Object.entries(dataMap)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, Math.min(5, Object.keys(dataMap).length));\n\nconst labels = topProductos.map(([producto]) => producto);\nconst data = topProductos.map(([, cantidad]) => cantidad);\n\n// Configurar el gráfico con etiquetas dentro de cada barra\nconst chart = {\n  type: 'bar',\n  data: {\n    labels,\n    datasets: [{\n      label: 'Productos más vendidos',\n      data,\n      backgroundColor: 'rgba(54, 162, 235, 0.6)',\n      datalabels: {\n        color: 'black',\n        anchor: 'end',\n        align: 'top',\n        font: {\n          weight: 'bold'\n        },\n        formatter: (value) => value\n      }\n    }]\n  },\n  options: {\n    plugins: {\n      title: {\n        display: true,\n        text: 'Top productos más vendidos',\n        font: {\n          size: 18\n        }\n      },\n      datalabels: {\n        display: true\n      }\n    },\n    scales: {\n      y: {\n        beginAtZero: true,\n        ticks: {\n          precision: 0\n        }\n      }\n    }\n  },\n  plugins: ['chartjs-plugin-datalabels']\n};\n\nreturn [\n  {\n    json: {\n            numero,                          // <-- reinyectamos el numero\n      chartConfig: JSON.stringify(chart)\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,784],"id":"4e134315-290f-4cac-9e09-64e71362b0b6","name":"Código para generar gráfico"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9159b276-4d69-4f7f-8f2e-6580f91042fc","leftValue":"={{ $json.tieneLabels }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3664,784],"id":"53dd44ba-63fd-4290-a68b-1cc65e088d2a","name":"Verificar si no hay datos"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $json.numero }}","textBody":"Procesando el grafico, un momento porfavor!","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3952,752],"id":"ca4ed472-e005-47fd-b0df-5a4ad908bc3b","name":"Mensaje de espera","webhookId":"f6bd88a9-57df-4bdf-857d-e675855d4eb5","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"url":"=https://quickchart.io/chart?c= {{ $('Convertir datos').item.json.chartConfig }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"Gráfico: Productos más vendidos"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4144,752],"id":"34353419-d923-4cb1-8afa-56d422047f24","name":"Generar gráfico","onError":"continueErrorOutput"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('Verificar si no hay datos').item.json.numero }}\n\n\n","messageType":"image","mediaPath":"useMedian8n","mediaPropertyName":"Gráfico: Productos más vendidos","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[4560,560],"id":"8f1e085c-5974-47d3-ba94-f4de7b4b2b31","name":"Enviar gráfico","webhookId":"2e6f3626-e05a-4711-94b8-9509a07f8d61","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"jsCode":"const item = $json;\nlet chartData;\n\ntry {\n  chartData = JSON.parse(item.chartConfig);\n} catch (error) {\n  chartData = { data: { labels: [] } }; // fallback si hay error\n}\n\nconst labels = chartData.data?.labels || [];\n\nreturn [{\n  json: {\n    tieneLabels: labels.length > 0,\n    ...item // mantiene el resto del JSON, incluyendo numero y chartConfig\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,784],"id":"bf649f05-b329-4b3f-b8bc-1a8a602c631c","name":"Convertir datos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6d4a778-81c6-4f27-919e-cea02b1e9531","leftValue":"={{ $json.message.content }}","rightValue":"La imagen no es una herramienta.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,1520],"id":"d89acb8a-bd09-4bd3-b62c-311864afbba5","name":"If7"},{"parameters":{"operation":"send","phoneNumberId":"733673693158725","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"La imagen no es una herramienta.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-960,1424],"id":"a79ca0fb-a4e9-4d91-9ecf-8858adf269e2","name":"Send message3","webhookId":"f505f71c-4069-4d71-be97-83fd650c5a8b","credentials":{"whatsAppApi":{"id":"bn6PJGGTlMOB25vf","name":"emma_envio_Mensajes"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('If5').item.json.audioID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2880,2080],"id":"6fe964fe-3af5-42ff-b240-2fabbff173ec","name":"Send an audio file","webhookId":"6807c582-5e09-4dec-a0ca-c2d43002bd7b","credentials":{"telegramApi":{"id":"2MfDiDbPgHabhlix","name":"Telegram_emma_account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: ProyectoV1Vector\nHa ocurrido un error en node HTTPS Generar gráfico:   \nDetalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4464,832],"id":"5d61b842-9869-463e-934c-2f0dc8a6fcc3","name":"Send a message4","webhookId":"1d530e87-dc8b-4f2b-bb3d-6e7db154e796","credentials":{"slackOAuth2Api":{"id":"iugf6btQUpcXdy8f","name":"Slack_emma_account"}}},{"parameters":{"content":"## seccionar en subfuljos para reutilizacion\n","height":640,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5c11e97d-e46f-4166-bffc-be33c86d6605","name":"Sticky Note4"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente","type":"ai_languageModel","index":0}]]},"ListaProductos":{"ai_tool":[[{"node":"Agente","type":"ai_tool","index":0}]]},"Compra":{"ai_tool":[[{"node":"Agente","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Politicas","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Politicas","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Politicas":{"ai_tool":[[{"node":"Agente","type":"ai_tool","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Agente":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"validarCanal":{"main":[[{"node":"Agente","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"validarCanalT":{"main":[[{"node":"Agente","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"validarcanalWh","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"if_valido_canal","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"If1":{"main":[[{"node":"validarCanalT","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download media","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Download media":{"main":[[{"node":"obtenerurl","type":"main","index":0}]]},"obtenerurl":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Agente","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Download media1","type":"main","index":0}]]},"Download media1":{"main":[[{"node":"ObtenerUrlImagen","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If7","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"BusquedaHerramientas":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Information Extractor1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Information Extractor1","type":"main","index":0}],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Código para generar gráfico","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"validarCanalT","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"validarcanalWh":{"main":[[{"node":"If2","type":"main","index":0},{"node":"Text Classifier","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Generate audio1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"if_valido_canal":{"main":[[{"node":"If5","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Generate audio1":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"validarCanal","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Send message2","type":"main","index":0}],[{"node":"If6","type":"main","index":0},{"node":"Send message2","type":"main","index":0}]]},"If6":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}]]},"ObtenerUrlImagen":{"main":[[{"node":"Analyze image","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"Código para generar gráfico":{"main":[[{"node":"Convertir datos","type":"main","index":0}]]},"Verificar si no hay datos":{"main":[[{"node":"Mensaje de espera","type":"main","index":0}],[{"node":"Send message4","type":"main","index":0}]]},"Mensaje de espera":{"main":[[{"node":"Generar gráfico","type":"main","index":0}]]},"Generar gráfico":{"main":[[{"node":"Enviar gráfico","type":"main","index":0}],[{"node":"Send a message4","type":"main","index":0}]]},"Convertir datos":{"main":[[{"node":"Verificar si no hay datos","type":"main","index":0}]]},"If7":{"main":[[{"node":"Send message3","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f04a5174-a67f-4a2d-a0f3-57a7e17b3d7e","triggerCount":2,"shared":[{"createdAt":"2025-08-04T14:57:58.077Z","updatedAt":"2025-08-04T14:57:58.077Z","role":"workflow:owner","workflowId":"HUVKh3tZ9hZX9lsq","projectId":"Z5in8UBg6O8Rkhdj"}],"tags":[]}