notificacionstockbajo-PhmjCyuH1NtHIXXz.json
{"createdAt":"2025-09-08T13:28:13.396Z","updatedAt":"2025-09-08T13:38:22.000Z","id":"PhmjCyuH1NtHIXXz","name":"notificacionStockBajo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1552,432],"id":"a55d54c7-60f1-474d-9814-0cd77a270c38","name":"No Operation, do nothing1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appniZcnpvrStiD98","mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98"},"table":{"__rl":true,"value":"tbln6MN9H6QN2vXca","mode":"list","cachedResultName":"Datos","cachedResultUrl":"https://airtable.com/appniZcnpvrStiD98/tbln6MN9H6QN2vXca"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2032,208],"id":"0f2d40a0-76e8-41f7-ad05-fc9fb278506a","name":"VerDatos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85f5b4ac-8f3c-4149-a868-d43fbbb54cab","leftValue":"={{ $json.Estado }}","rightValue":"❌ Insuficiente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1760,208],"id":"1ceab387-2dad-4080-98f8-ddb82ab03d6a","name":"cambiosEstado?"},{"parameters":{"assignments":{"assignments":[{"id":"879af0a9-9c35-4846-81f6-72b8e113d8eb","name":"Datos","value":"=Nombre del Producto: {{ $json.Nombre }}\nProveedor Actual: {{ $json.Proveedor }}\nEstado del Producto: {{ $json.Estado }}\nCantidad aun disponible: {{ $json['Stock actual'] }}\nCantidad minima permitida: {{ $json['Stock mínimo'] }}\n\n","type":"string"},{"id":"7d158d32-50f0-435f-84f3-591bb4048c99","name":"Fecha","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,112],"id":"1476a0fe-1f8d-4842-a57c-dfaf5fac9257","name":"FiltradoDatos"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Importante: la siguiente lista de productos estan por debajo del stock permitido:\n{{ $json.mensajeSlack }}\nContacte al proveedor lo antes posible!","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-688,160],"id":"d3e1b263-3f0a-4582-9a7f-13f65d9fed00","name":"Notificacion","webhookId":"61d21dc3-7951-40db-a183-9285645bb5ec"},{"parameters":{"jsCode":"// Recorre todos los items que vienen del nodo Set y toma el campo Datos\nconst productos = items.map(item => item.json.Datos);\n\n// Une todos los strings con saltos de línea dobles\nconst mensajeUnico = productos.join('\\n\\n');\n\n// Devuelve un solo item con el mensaje agrupado\nreturn [{\n  json: {\n    mensajeSlack: mensajeUnico\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,160],"id":"b67de2de-adcd-4705-a0da-0aa4f036699d","name":"Lista"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0","mode":"list","cachedResultName":"Inventario_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1714575872,"mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit#gid=1714575872"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json.Nombre }}","Proveedor":"={{ $json.Proveedor }}","Estado":"={{ $json.Estado }}","Stock actual ":"={{ $json['Stock actual'] }}","Stock mínimo ":"={{ $json['Stock mínimo'] }}","Fecha":"={{ $now }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock actual ","displayName":"Stock actual ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock mínimo ","displayName":"Stock mínimo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1680,608],"id":"d0001641-0f35-4ef2-9d43-b939984b3204","name":"Todos los productos"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0","mode":"list","cachedResultName":"Inevntario_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Productos en alerta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('VerDatos').item.json.Nombre }}","Proveedor":"={{ $('VerDatos').item.json.Proveedor }}","Estado":"={{ $('VerDatos').item.json.Estado }}","Stock actual ":"={{ $('VerDatos').item.json['Stock actual'] }}","Stock mínimo ":"={{ $('VerDatos').item.json['Stock mínimo'] }}","Fecha":"={{ $now }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock actual ","displayName":"Stock actual ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock mínimo ","displayName":"Stock mínimo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1312,352],"id":"d6d0b86f-87bf-4c37-8ad0-c9283837a52a","name":"Productos insuficientes"},{"parameters":{"jsCode":"const rows = $input.all().map(item => item.json);\n\n// Extraer datos y normalizar nombres de campos\nlet productos = rows\n  .map(row => {\n    const nombre = String(row[\"Nombre\"] || \"\").trim();\n    const stock = parseInt(String(row[\"Stock actual\"] || row[\"Stock actual \"] || \"\").trim());\n    const stockMinimo = parseInt(String(row[\"Stock mínimo\"] || row[\"Stock mínimo \"] || \"\").trim());\n\n    return { nombre, stock, stockMinimo };\n  })\n  .filter(p => p.nombre && !isNaN(p.stock) && !isNaN(p.stockMinimo));\n\n// Eliminar duplicados por nombre\nconst nombresUnicos = new Set();\nproductos = productos.filter(p => {\n  if (nombresUnicos.has(p.nombre)) return false;\n  nombresUnicos.add(p.nombre);\n  return true;\n});\n\n// Ordenar por mayor stock actual y limitar a 10\nproductos.sort((a, b) => b.stock - a.stock);\nproductos = productos.slice(0, 10);\n\n// Si no hay productos válidos, mostrar mensaje alternativo\nlet chart;\n\nif (productos.length === 0) {\n  chart = {\n    type: \"bar\",\n    data: {\n      labels: [\"Sin datos\"],\n      datasets: [{\n        label: \"No hay productos para mostrar\",\n        data: [0],\n        backgroundColor: \"rgba(200,200,200,0.5)\"\n      }]\n    },\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: \"No hay productos para graficar\",\n          font: { size: 18 }\n        },\n        legend: {\n          display: false\n        }\n      },\n      scales: {\n        y: { beginAtZero: true }\n      }\n    }\n  };\n} else {\n  const labels = productos.map(p => p.nombre);\n  const stockActual = productos.map(p => p.stock);\n  const stockMinimo = productos.map(p => p.stockMinimo);\n  const colors = productos.map(p =>\n    p.stock < p.stockMinimo ? \"rgba(255, 99, 132, 0.8)\" : \"rgba(75, 192, 192, 0.8)\"\n  );\n\n  chart = {\n    type: \"bar\",\n    data: {\n      labels: labels,\n      datasets: [\n        {\n          label: \"Stock Actual\",\n          data: stockActual,\n          backgroundColor: colors,\n          datalabels: {\n            align: 'end',\n            anchor: 'end',\n            formatter: function(value, context) {\n              const i = context.dataIndex;\n              return \"Mín: \" + stockMinimo[i];\n            },\n            font: { size: 11 },\n            color: \"#000\"\n          }\n        },\n        {\n          label: \"Stock Mínimo\",\n          data: stockMinimo,\n          backgroundColor: \"rgba(54, 162, 235, 0.3)\",\n          borderColor: \"rgba(54, 162, 235, 1)\",\n          borderWidth: 1\n        }\n      ]\n    },\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: \"Top productos con mayor stock\",\n          font: { size: 18 }\n        },\n        legend: {\n          display: true,\n          labels: {\n            font: { size: 12 }\n          }\n        },\n        datalabels: {\n          display: true\n        }\n      },\n      responsive: true,\n      scales: {\n        y: {\n          beginAtZero: true\n        },\n        x: {\n          stacked: false,\n          ticks: {\n            autoSkip: false,\n            maxRotation: 60,\n            minRotation: 30\n          }\n        }\n      }\n    },\n    plugins: [\"chartjs-plugin-datalabels\"]\n  };\n}\n\n// Retornar JSON para QuickChart\nreturn [{ json: { chartConfig: JSON.stringify(chart) } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,608],"id":"7d848d3b-2074-4ff9-9ad1-f3fd2f5e938a","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0","mode":"list","cachedResultName":"Inventario_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1714575872,"mode":"list","cachedResultName":"Productos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit#gid=1714575872"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1408,608],"id":"c6626487-f380-49e7-8bb4-7f0ca2cd9e22","name":"Leer productos "},{"parameters":{"documentId":{"__rl":true,"value":"1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0","mode":"list","cachedResultName":"Inventario_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Productos en alerta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV7Fi3szV-AJM7HI0-dinNl8hjszifCTMnbu3kNnh_0/edit#gid=0"},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1136,352],"id":"20998a95-9c7a-40b9-af60-916bbef3d8d8","name":"Leer productos insuficientes","alwaysOutputData":true},{"parameters":{"url":"=https://quickchart.io/chart?c={{ encodeURIComponent($json.chartConfig) }}\n","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"Gráfico: Top productos con menor stock"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,240],"id":"43b51539-821e-4eb1-b777-a7d5664f13cc","name":"Generar gráfico menor stock","onError":"continueErrorOutput"},{"parameters":{"url":"=https://quickchart.io/chart?c={{ encodeURIComponent($json.chartConfig) }}\n\n \n","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"Top productos con mayor stock"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,608],"id":"24fd43b7-e8d1-4c11-b9dd-161fecadb5d8","name":"Generar gráfico mayor stock","onError":"continueErrorOutput"},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"mode":"id","value":"C093GV11XB2"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-2912,224],"id":"98fbca24-0ccf-4b43-960b-4aa561fd49b8","name":"Slack Trigger","webhookId":"fdcfedd8-350c-45dd-8c32-0fddda3a70f1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2e3c488-a94f-4433-871f-37b1c411f048","leftValue":"={{ $json.bot_id }}","rightValue":"B095VR8C3RT","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2528,224],"id":"0b306911-32f4-4779-8f88-2c042c871f67","name":"If"},{"parameters":{"content":"## actomatizacion en airtable de cambio estado envio a slack","width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3072,32],"id":"e0581a5e-cb99-499e-9420-f52c4e58fcae","name":"Sticky Note2"},{"parameters":{"jsCode":"const rows = $input.all().map(item => item.json);\n\n// Extraer datos y normalizar nombres de campos\nlet productos = rows\n  .map(row => {\n    const nombre = String(row[\"Nombre\"] || \"\").trim();\n    const stock = parseInt(String(row[\"Stock actual\"] || row[\"Stock actual \"] || \"\").trim());\n    const stockMinimo = parseInt(String(row[\"Stock mínimo\"] || row[\"Stock mínimo \"] || \"\").trim());\n\n    return { nombre, stock, stockMinimo };\n  })\n  .filter(p => p.nombre && !isNaN(p.stock) && !isNaN(p.stockMinimo));\n\n// Eliminar duplicados por nombre\nconst nombresUnicos = new Set();\nproductos = productos.filter(p => {\n  if (nombresUnicos.has(p.nombre)) return false;\n  nombresUnicos.add(p.nombre);\n  return true;\n});\n\n// Ordenar por menor stock actual y limitar a 10\nproductos.sort((a, b) => a.stock - b.stock);\nproductos = productos.slice(0, 10);\n\n// Si no hay productos válidos, mostrar mensaje alternativo\nlet chart;\n\nif (productos.length === 0) {\n  chart = {\n    type: \"bar\",\n    data: {\n      labels: [\"Sin datos\"],\n      datasets: [{\n        label: \"No hay productos para mostrar\",\n        data: [0],\n        backgroundColor: \"rgba(200,200,200,0.5)\"\n      }]\n    },\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: \"No hay productos para graficar\",\n          font: { size: 18 }\n        },\n        legend: {\n          display: false\n        }\n      },\n      scales: {\n        y: { beginAtZero: true }\n      }\n    }\n  };\n} else {\n  const labels = productos.map(p => p.nombre);\n  const stockActual = productos.map(p => p.stock);\n  const stockMinimo = productos.map(p => p.stockMinimo);\n  const colors = productos.map(p =>\n    p.stock < p.stockMinimo ? \"rgba(255, 99, 132, 0.8)\" : \"rgba(75, 192, 192, 0.8)\"\n  );\n\n  chart = {\n    type: \"bar\",\n    data: {\n      labels: labels,\n      datasets: [\n        {\n          label: \"Stock Actual\",\n          data: stockActual,\n          backgroundColor: colors,\n          datalabels: {\n            align: 'end',\n            anchor: 'end',\n            formatter: function(value, context) {\n              const i = context.dataIndex;\n              return \"Mín: \" + stockMinimo[i];\n            },\n            font: { size: 11 },\n            color: \"#000\"\n          }\n        },\n        {\n          label: \"Stock Mínimo\",\n          data: stockMinimo,\n          backgroundColor: \"rgba(54, 162, 235, 0.3)\",\n          borderColor: \"rgba(54, 162, 235, 1)\",\n          borderWidth: 1\n        }\n      ]\n    },\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: \"Top productos con menor stock\",\n          font: { size: 18 }\n        },\n        legend: {\n          display: true,\n          labels: {\n            font: { size: 12 }\n          }\n        },\n        datalabels: {\n          display: true\n        }\n      },\n      responsive: true,\n      scales: {\n        y: {\n          beginAtZero: true\n        },\n        x: {\n          stacked: false,\n          ticks: {\n            autoSkip: false,\n            maxRotation: 60,\n            minRotation: 30\n          }\n        }\n      }\n    },\n    plugins: [\"chartjs-plugin-datalabels\"]\n  };\n}\n\n// Retornar JSON para QuickChart\nreturn [{ json: { chartConfig: JSON.stringify(chart) } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,352],"id":"bd60fd00-f735-4086-96db-92903e74b5b8","name":"Top productos con menor stock"},{"parameters":{"operation":"sendPhoto","chatId":"6108167971","binaryData":true,"binaryPropertyName":"Gráfico: Top productos con menor stock","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-112,240],"id":"dc40d288-89e3-4c26-b402-e74ad76b9bc7","name":"Send a photo message","webhookId":"248edde4-0bcc-41b6-a5fc-e90de672e542","credentials":{"telegramApi":{"id":"2MfDiDbPgHabhlix","name":"Telegram_emma_account"}}},{"parameters":{"operation":"sendPhoto","chatId":"6108167971","binaryData":true,"binaryPropertyName":"Top productos con mayor stock","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,544],"id":"2c7598ee-2fb6-4005-821c-537ca78f1c73","name":"Send a photo message1","webhookId":"248edde4-0bcc-41b6-a5fc-e90de672e542"},{"parameters":{"sendTo":"floresbrenesmichell@gmail.com","subject":"Grafico: Productos con mayor stock","message":"A continuación se adjunta grafico de barras con los productos con mayor stock","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"Top productos con mayor stock"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-608,784],"id":"48591b7d-54f8-48c2-b526-febc6f5959b6","name":"Send a message","webhookId":"e2464669-2f0b-4c58-b153-ea670f7bb26e"},{"parameters":{"sendTo":"floresbrenesmichell@gmail.com","subject":"Grafico: Productos con menor stock","emailType":"text","message":"A continuación se adjunta grafico de barras con los productos con menor stock","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"Gráfico: Top productos con menor stock"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-112,0],"id":"918b193f-f84b-4a74-9194-e87b8f60dfc9","name":"Send a message1","webhookId":"e2464669-2f0b-4c58-b153-ea670f7bb26e"},{"parameters":{"content":"## cambio de url para produccion o local"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3232,272],"id":"8ef4e70d-b04f-435b-8281-de3442391d16","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2288,368],"id":"ba74fb1c-ad4f-4447-a233-994a77cb9f83","name":"No Operation, do nothing2"},{"parameters":{"content":"## validacion de id_bot\nsi id_bot == bot slack pasa\nsi bot == n8n termina\n\nesto para evitar un bucle infinito","color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2640,64],"id":"c95b6c56-475f-47ab-b9e6-366f81a8ddbb","name":"Sticky Note4"},{"parameters":{"content":"Generar y enviar grafico, productos con menor stock.\n","width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,112],"id":"889e7247-e84d-4388-9787-0ce3ebeee279","name":"Sticky Note"},{"parameters":{"content":"Generar y enviar grafico, productos con mayor\n stock.","width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,672],"id":"2738cc8f-f8a8-496c-ab92-486f632c094b","name":"Sticky Note3"},{"parameters":{"chatId":"6108167971","text":"No hay datos suficientes para generar un grafico, inténtelo más tarde","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,512],"id":"b074869d-ee0e-4eb2-b1ad-a5b8576c135e","name":"Send a text message","webhookId":"879ac794-fb10-4fef-b615-7b87d1caa769"},{"parameters":{"jsCode":"const item = $json;\nlet chartData;\n\ntry {\n  chartData = JSON.parse(item.chartConfig);\n} catch (error) {\n  chartData = { data: { labels: [] } }; // fallback si hay error\n}\n\nconst labels = chartData.data?.labels || [];\n\nreturn [{\n  json: {\n    tieneLabels: labels.length > 0,\n    ...item // mantiene el resto del JSON, incluyendo numero y chartConfig\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,352],"id":"5ef93de7-f31c-4c1b-a9bd-728e04855bd9","name":"Convertir datos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9159b276-4d69-4f7f-8f2e-6580f91042fc","leftValue":"={{ $json.tieneLabels }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,352],"id":"bca535c9-665a-4cae-8a53-023939e9366f","name":"Verificar si no hay datos"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: ProyectoV1\nHa ocurrido un error en node HTTPS Generar gráfico mayor stock:   \nDetalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-816,864],"id":"cf75ed45-77f6-4d1e-a5f2-5ee9975843f7","name":"Send a message4","webhookId":"1d530e87-dc8b-4f2b-bb3d-6e7db154e796"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C093GV11XB2","mode":"list","cachedResultName":"todo-workspace"},"text":"=Workflow: ProyectoV1\nHa ocurrido un error en node HTTPS Generar gráfico menor stock:   \nDetalle: {{ $json.error }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-16,464],"id":"dca44eff-ae7e-4bf9-9faa-60a6486d6302","name":"Send a message5","webhookId":"1d530e87-dc8b-4f2b-bb3d-6e7db154e796"}],"connections":{"VerDatos":{"main":[[{"node":"Todos los productos","type":"main","index":0},{"node":"cambiosEstado?","type":"main","index":0}]]},"cambiosEstado?":{"main":[[{"node":"FiltradoDatos","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"FiltradoDatos":{"main":[[{"node":"Lista","type":"main","index":0},{"node":"Productos insuficientes","type":"main","index":0}]]},"Lista":{"main":[[{"node":"Notificacion","type":"main","index":0}]]},"Productos insuficientes":{"main":[[{"node":"Leer productos insuficientes","type":"main","index":0}]]},"Todos los productos":{"main":[[{"node":"Leer productos ","type":"main","index":0}]]},"Code":{"main":[[{"node":"Generar gráfico mayor stock","type":"main","index":0}]]},"Leer productos ":{"main":[[{"node":"Code","type":"main","index":0}]]},"Leer productos insuficientes":{"main":[[{"node":"Top productos con menor stock","type":"main","index":0}]]},"Generar gráfico menor stock":{"main":[[{"node":"Send a photo message","type":"main","index":0},{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message5","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"VerDatos","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Top productos con menor stock":{"main":[[{"node":"Convertir datos","type":"main","index":0}]]},"Generar gráfico mayor stock":{"main":[[{"node":"Send a photo message1","type":"main","index":0},{"node":"Send a message","type":"main","index":0}],[{"node":"Send a message4","type":"main","index":0}]]},"Convertir datos":{"main":[[{"node":"Verificar si no hay datos","type":"main","index":0}]]},"Verificar si no hay datos":{"main":[[{"node":"Generar gráfico menor stock","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5662691-ddcf-445a-b08c-1fe451688560","triggerCount":0,"shared":[{"createdAt":"2025-09-08T13:28:13.398Z","updatedAt":"2025-09-08T13:28:13.398Z","role":"workflow:owner","workflowId":"PhmjCyuH1NtHIXXz","projectId":"Z5in8UBg6O8Rkhdj"}],"tags":[]}